/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  background-color: hsl(212, 45%, 89%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.attribution {
  text-align: center;
}
.card {
  background-color: #fff;
  max-width: 23.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
img {
  border-radius: 1rem;
}

p {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}
.title {
  font-size: 1rem;
  margin-top: 1.3rem;
  font-weight: 700;
}
