@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(217, 100%, 84%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.attribution {
  text-align: center;
}
.main {
  background-color: #fff;
  width: 15rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
img {
  width: 13rem;
  border-radius: 1rem;
}

p {
  text-align: center;
  margin: 0.5rem 0;
  font-size: 13px;
}
.highlighted {
  font-size: 16px;
  margin-top: 1.3rem;
  font-weight: bold;
}
